.services__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-content: center;
}

.services__service {
  border: 1px solid #fff;
  padding: 2rem 1.5rem 1.5rem;
  border-radius: 3rem;
  transition: var(--transition);
}

.services__service:hover {
  transform: scale(1.1);
  background: linear-gradient(rgb(235, 157, 14), transparent);
}

.services__service svg {
  color: "#008bff" !important;
}

.services__service:hover svg {
  fill: #000;
}

.services__service-icon {
  padding-bottom: 0.75rem;
}

.services__animation {
  display: flex;
  justify-content: center;
}

.services__service-content h3 {
  font-weight: 500;
  font-size: 2rem;
}

.services__service-content p {
  font-size: 1.25rem;
  padding: 1rem 0;
}

.services__service-content h4 {
  font-size: 1.25rem;
}

.services__service-content h3,
.services__service-content-tools {
  font-size: #008bff;
}

/* ===== MEDIA QUEIRES (MD DEVICES) ===== */
@media screen and (max-width: 1024px) {
  .services__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ===== Wi-Fi ===== */
.circle {
  background: #d5d5d5;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  position: relative;
  top: 120px;
  animation: glow1 3s infinite;
}

.wifi {
  height: 120px;
  width: 100px;
  border: 15px solid transparent;
  border-top: 15px solid #d5d5d5;
  border-radius: 50%;
  position: absolute;
  top: -35px;
  left: -40px;
  animation: glow2 3s infinite;
}

.wifi::before {
  height: 160px;
  width: 140px;
  content: "";
  border: 15px solid transparent;
  border-top: 15px solid #d5d5d5;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: -51.5px;
  animation: glow3 3s infinite;
}

.wifi::after {
  height: 190px;
  width: 190px;
  content: "";
  border: 15px solid transparent;
  border-top: 15px solid #d5d5d5;
  border-radius: 50%;
  position: absolute;
  top: -85px;
  left: -77.5px;
  animation: glow4 3s infinite;
}

@keyframes glow1 {
  19% {
    background: rgb(235, 157, 14);
  }
  20% {
    background: rgb(235, 157, 14);
  }
  100% {
    background: rgb(235, 157, 14);
  }
}

@keyframes glow2 {
  39% {
    border-top-color: rgb(235, 157, 14);
  }
  40% {
    border-top-color: rgb(235, 157, 14);
  }
  100% {
    border-top-color: rgb(235, 157, 14);
  }
}

@keyframes glow3 {
  59% {
    border-top-color: rgb(235, 157, 14);
  }
  60% {
    border-top-color: rgb(235, 157, 14);
  }
  100% {
    border-top-color: rgb(235, 157, 14);
  }
}

@keyframes glow4 {
  79% {
    border-top-color: rgb(235, 157, 14);
  }
  80% {
    border-top-color: rgb(235, 157, 14);
  }
  100% {
    border-top-color: rgb(235, 157, 14);
  }
}

/* =====Spinng Gears===== */
.gears {
  display: inline-block;
}

.gears-container {
  width: 75px;
  height: 100px;
  font-size: 24px;
  position: relative;
  margin: 0px auto 40px auto;
}

.gear-rotate {
  width: 2em;
  height: 2em;
  top: 50%;
  left: 72.5%;
  margin-top: -1em;
  margin-right: -5em;
  background: var(--color-primary);
  position: absolute;
  border-radius: 1em;
  animation: 1s gear-rotate linear infinite;
}
.gear-rotate-left {
  margin-top: -2.2em;
  top: 50%;
  width: 2em;
  height: 2em;
  background: var(--color-primary);
  position: absolute;
  border-radius: 1em;
  animation: 1s gear-rotate-left linear infinite;
}

.gear-rotate::before,
.gear-rotate-left::before {
  width: 2.8em;
  height: 2.8em;
  background: linear-gradient(
      0deg,
      transparent 39%,
      var(--color-primary) 39%,
      var(--color-primary) 61%,
      transparent 61%
    ),
    linear-gradient(
      60deg,
      transparent 42%,
      var(--color-primary) 42%,
      var(--color-primary) 58%,
      transparent 58%
    ),
    linear-gradient(
      120deg,
      transparent 42%,
      var(--color-primary) 42%,
      var(--color-primary) 58%,
      transparent 58%
    );
  position: absolute;
  content: "";
  top: -0.4em;
  left: -0.4em;
  border-radius: 1.4em;
}
.gear-rotate::after,
.gear-rotate-left::after {
  width: 1em;
  height: 1em;
  background: linear-gradient(-45deg, #242a5f, #101e56, #222a65);
  position: absolute;
  content: "";
  top: 0.5em;
  left: 0.5em;
  border-radius: 0.5em;
}

@keyframes gear-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

@keyframes gear-rotate-left {
  0% {
    -webkit-transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(210deg);
  }
}

/* ===== MEDIA QUEIRES (SM DEVICES) ===== */
@media screen and (max-width: 700px) {
  .services__container {
    grid-template-columns: 1fr;
    padding: 2rem;
  }

  .gears-container {
    margin: 0px auto 10px auto;
  }
}
