.services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
}
.services__service {
  border: 1px solid #fff;
  padding: 2rem 1rem;
  border-radius: 3rem;
  transition: var(--transition);
}

.services__service:hover {
  transform: scale(1.1);
  background: linear-gradient(rgb(235, 157, 14), transparent);
}

.services__service svg {
  color: "#008bff" !important;
}

.services__service:hover svg {
  fill: #000;
}

.services__service-icon {
  padding-bottom: 1.5rem;
}

.services__service-content h3 {
  font-weight: 500;
  font-size: 1.5rem;
}

.services__service-content p {
  font-size: 1rem;
  padding-bottom: 1rem;
}
.services__service-content h4 {
  font-size: 1.25rem;
}

.services__service-content h3,
.services__service-content-tools {
  font-size: #008bff;
}

/* ===== MEDIA QUEIRES (MD DEVICES) ===== */
@media screen and (max-width: 1024px) {
  .services__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3rem;
  }
}

/* ===== MEDIA QUEIRES (SM DEVICES) ===== */
@media screen and (max-width: 700px) {
  .services__container {
    grid-template-columns: 1fr;
    padding: 2rem;
  }
}

/* ===== Wi-Fi ===== */
.circle {
background: #d5d5d5;
height: 20px;
width: 20px;
border-radius: 100%;
position: relative;
top: 70px;
   }

   .wifi {
    height: 100px;
    width: 100px;
    border: 15px solid transparent;
    border-top: 15px solid #d5d5d5;
    border-radius: 50%;
    position: relative;
    top: -35px;
    left: -40px;
   }

    
  .first {
    width:20px;
			height:20px;
        -webkit-animation-delay:1s;
    }
  .second {
    width:40px;
    height:40px;
  animation-delay:3s;}
  .third {
  animation-delay:5s;}
  .fourth {
    animation-delay:7s;}

  

    @keyframes left{
    0% { border-top: 8px solid rgba(0,0,0,0.1);}
    100% {border-top: 8px solid #00b7f2;}
  }
  