.services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
}
.services__service {
  border: 1px solid #fff;
  padding: 2rem 1rem;
  border-radius: 3rem;
  transition: var(--transition);
}

.services__service:hover {
  transform: scale(1.1);
  background: linear-gradient(rgb(235, 157, 14), transparent);
}

.services__service svg {
  color: "#008bff" !important;
}

.services__service:hover svg {
  fill: #000;
}

.services__service-icon {
  padding-bottom: 1.5rem;
}

.services__service-content h3 {
  font-weight: 500;
  font-size: 1.5rem;
}

.services__service-content p {
  font-size: 1rem;
  padding-bottom: 1rem;
}
.services__service-content h4 {
  font-size: 1.25rem;
}

.services__service-content h3,
.services__service-content-tools {
  font-size: #008bff;
}

/* ===== MEDIA QUEIRES (MD DEVICES) ===== */
@media screen and (max-width: 1024px) {
  .services__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3rem;
  }
}

/* ===== MEDIA QUEIRES (SM DEVICES) ===== */
@media screen and (max-width: 700px) {
  .services__container {
    grid-template-columns: 1fr;
    padding: 2rem;
  }
}
