
.about__container {
  display: grid;
  grid-template-columns: 35% 80%;
  gap: 10%;
  align-items: center;
  justify-content: center;
}

/* === IMAGE === */

.about__me {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
  display: block;
  align-items: center;
}

.about__me-image {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  height: 100%;
  align-items: center;
  transition: var(--transition);
}

.about__me-image:hover {
  transform: rotate(0deg);
}

.about__me-image img {
  cursor: pointer;
}

/* === CARDS === */
.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.about__card {
  background: var(--color-bg-variant);
  border: 2px solid black;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: var(--transition);
  cursor: pointer;
}

.about__card > svg {
  font-size: 30px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.about__card > h3 {
  font-size: 27px;
  font-weight: 600;
  padding: 0.25rem 0;
  cursor: pointer;
}

.about__card > p {
  font-size: 20px;
  color: var(--color-light);
  cursor: pointer;
}

.about__card:hover {
  border-color: var(--color-primary-variant);
  transform: scale(1.05);
  background: linear-gradient(var(--color-primary-variant), transparent);
}

/* === TABS === */
.about__tabs {
  margin-top: 2rem;
}

/* ===== MEDIA QUEIRES (MD DEVICES) ===== */
@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
    padding: 0 3rem;
  }

  .about__me {
    width: 40%;
    margin: 2rem auto 3rem;
  }

  .about__cards {
    gap: 0.75rem;
  }

  .about__card {
    padding: 2rem 1rem;
  }

  .about__card p {
    font-size: 1.1rem;
  }

  .about__tabs {
    margin: 1rem 0 1.5rem;
  }
}

/* ===== MEDIA QUEIRES (
  SM DEVICES) ===== */
@media screen and (max-width: 700px) {
  .about__container {
    padding: 0 2rem;
  }

  .about__me {
    width: 50%;
    margin: 0rem auto 3rem;
  }

  .about__cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .about__card p {
    font-size: 0.9rem;
  }

  .about_content {
    text-align: center;
  }

  .about__card > h3 {
  font-size: 24px;
}

.about__card > p {
  font-size: 18px;
  color: var(--color-light);
  cursor: pointer;
}
}

/* ===== MEDIA QUEIRES (XS DEVICES) ===== */
@media screen and (max-width: 400px) and (max-height: 700px) {

}
