.testimonials__container {
  width: 40%;
}

.testimonial {
  background: var(--color-bg-variant);
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  user-select: none;
}

.swiper-pagination-bullet {
  background-color: white !important;
  padding: 0.4rem !important;
  opacity: 0.75 !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-primary) !important;
  opacity: 1 !important;
}

.client__avatar {
  width: 4rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 1rem;
  border: 0.5rem solid var(--color-primary-variant);
}

.client__name {
  font-size: 1.5rem;
}

.client__review {
  color: var(--color-light);
  font-weight: 300;
  display: block;
  width: 80%;
  margin: 0.8rem auto 1.2rem;
}

/* ===== MEDIA QUEIRES (MD DEVICES) ===== */
@media screen and (max-width: 1024px) {
  .testimonials__container {
    width: 60%;
  }
}

/* ===== MEDIA QUEIRES (SM DEVICES) ===== */
@media screen and (max-width: 700px) {
  .testimonials__container {
    width: var(--container-width-sm);
  }

  .client__review {
    width: var(--container-width-sm);
  }
}
