.experience__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 85%;
}

.experience__container > div {
  background: url("../../assets/Banners/banner-card.svg");
  background-repeat: no-repeat;
  padding: 2.5rem 4.5rem;
  border-radius: 2rem;
  border: 2px solid black;
  transition: var(--transition);
  background-position-y: -5rem;
}


.experience__container > div:hover {
  background: linear-gradient(var(--color-primary-variant), transparent);
  border-color: var(--color-primary-variant);
  cursor: default;
  transform: scale(1.075);
}

.experience__container > div:hover .experience__content h4 {
  color: white;
}

.experience__container > div h3 {
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 2rem;
  color: var(--color-primary);
  font-weight: 700;
  color: #70dbdb;
}

.experience__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 7.5rem;
}


.experience__details {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.experience__details h4 {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--color-bg-variant);
}

.experience__details svg {

}

.experience__details-icon {
  color: var(--color-primary);
  font-size: 2.25rem;
}

/* ===== MEDIA QUEIRES (MD DEVICES) ===== */
@media screen and (max-width: 1350px) {
  .experience__container {
    grid-template-columns: 1fr;
    gap: 3rem;
    width: 50%;
  }
}

/* ===== MEDIA QUEIRES (MD DEVICES) ===== */
@media screen and (max-width: 1024px) {
  .experience__container {
    width: 100%;
  }

  .experience__container > div {
    gap: 2rem;
    padding: 2rem;
    margin: 0 auto;
    background-position-y: -3rem;
    width: 625px;
  }

  .experience__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.experience__container > div {
  background-position-y: -7.5rem;
}

.experience__details {
  justify-content: center;
}
}

/* ===== MEDIA QUEIRES (SM DEVICES) ===== */
@media screen and (max-width: 900px) { 
  .experience__container > div {
    gap: 2rem 1rem;
    background-position-y: -4rem;
    width: 575px;
  }

  .experience__details {
    flex-direction: column-reverse;
    text-align: center;
  }

  .experience__details h4 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
}


.experience__details-icon {
  color: var(--color-primary);
  font-size: 2rem;
}

.experience__content {
  grid-template-columns: repeat(3, 1fr);
  width: max-content;
  margin: auto;
}

}

@media screen and (max-width: 700px) {
  .experience__container > div {
    background-position: -3.5rem;
    padding: 1rem 0;
    width: 85%;
  }
}

/* ===== MEDIA QUEIRES (SM DEVICES) ===== */
@media screen and (max-width: 550px) { 
  .experience__container {
    display: flex;
    flex-direction: column;
  }

  .experience__container > div {
    width: 70%;
    padding: 1.5rem 0;
  }

  .experience__container > div h3 {
    margin-bottom: 1.5rem;
  }

  .experience__content {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
}

.experience__details {
  gap: 0.25rem
}
}

@media screen and (max-width: 475px) { 

  .experience__container > div {
    width: 70%;
    background-position: 0;
    grid-template-columns: repeat(1, 1fr);
  }

  .experience__content {
    gap: 1.5rem 2rem;
  }

  .experience__details h4 {
    font-size: 0.75rem;
    letter-spacing: 1.5px;
  }

}